.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    
    text-align: left;
    /* inline-block space fix */
    
    margin-right: -4px;
}

.text-input-spacer {
    margin-bottom: 15px;
}

.jumbotron .h1,
.jumbotron .grand-total-text {
    color: rgb(76, 175, 80);
}