.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    
    text-align: left;
    /* inline-block space fix */
    
    margin-right: -4px;
}

.text-input-spacer-small {
    margin-bottom: 15px;
}

.text-input-spacer-large {
    margin-bottom: 45px;
}

.jumbotron .h1,
.jumbotron .grand-total-text {
    color: rgb(76, 175, 80);
}

.ng-invalid {
    color: #f44336;
}

body {
    padding-top: 70px;
}
